@import './fonts';
@import './layout';
@import './typography';

@import '../components/button';
@import '../components/form';
@import '../components/header';
@import '../components/input';
@import '../components/post';

@custom-media --max-line-length (min-width: 71rem);

:root {
  /* spacing */

  --margin:                 7rem;
  --min-margin:             3.5rem;
  --gutter:                 3.2rem;
  --form-padding:           2rem;
  --max-line-length:        71rem;

  /* font stacks */

  --display-font:           'Copernicus', 'Georgia',  serif;
  --text-font:              'Palatino',   'Georgia',  serif;
  --allcaps-font:           'Futura Std', 'Segoe UI', sans-serif;
  --ui-font:                'Futura Std', 'Segoe UI', sans-serif;

  /* colors */

  --black-color:            hsl(0,   0%,   0%);
  --white-color:            hsl(0,   0%,   100%);

  --10-gray-color:          hsl(0,   0%,   10%);
  --20-gray-color:          hsl(0,   0%,   20%);
  --40-gray-color:          hsl(0,   0%,   40%);
  --50-gray-color:          hsl(0,   0%,   50%);
  --70-gray-color:          hsl(0,   0%,   70%);
  --80-gray-color:          hsl(0,   0%,   80%);
  --90-gray-color:          hsl(0,   0%,   90%);
  --98-gray-color:          hsl(0,   0%,   98%);

  --link-text-color:        hsl(28,  37%,  32%);
  --pull-text-color:        hsl(209, 13%,  59%);

  --input-color:            hsl(0,   0%,   100%);
  --input-text-color:       hsl(0,   0%,   100%);
  --input-border-color:     hsl(0,   0%,   100%);

  --save-button-color:       hsl(87,  55%,  61%);
  --modify-button-color:    hsl(54,  86%,  63%);
  --destroy-button-color:   hsl(16,  76%,  58%);

  --disabled-button-color:  var(--90-gray-color);

  --background-color:       var(--white-color);
  --knockout-color:         var(--white-color);
  --rule-color:             var(--90-gray-color);

  --text-color:             var(--20-gray-color);
  --sidebar-text-color:     var(--70-gray-color);
  --lead-text-color:         var(--50-gray-color);

  /* sizes */

  --button-size:            3.2em;
  --header-size:            85vh;
  --header-title-padding:   9px;
  --header-title-crop-line: 1.47em;
  --max-header-title-size:  7.2em;

  /* layers */

  --background-zindex:      1;
  --header-zindex:          10;
  --header-nav-zindex:      20;

  /* property sets */

  --allcaps-style: {
    font-family: var(--allcaps-font);
    font-style: normal;
    letter-spacing: 0.066em;
    text-transform: uppercase;
  }

  --headline-style: {
    font-family: var(--display-font);
    font-size: 7vmax;
    font-weight: 800;
    letter-spacing: -0.029em;
    line-height: 0.94;
    text-rendering: optimizeLegibility;
  }

  --hide-text: {
    position: absolute;
    top: -999em;
    left: -999em;
  }

  --reset: {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }

  --reset-button: {
    cursor: pointer;
    user-select: none;
    appearance: none;
    border: 0;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1em;
  }

  --reset-link: {
    text-decoration: none;
  }

  --reset-list: {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
