@lost gutter 0px;

body {
  margin: 0;
  background-color: var(--background-color);
  overflow-x: hidden; /* headline crop line 100vw bumpers */
}

.layout {
  lost-column: 8/8;
  box-sizing: border-box;
  padding: calc(var(--min-margin) / 2);
  padding-bottom: calc(var(--min-margin) * 2);
}

@media (--max-line-length) {

  .layout {
    padding: var(--margin) 0;
    padding-bottom: calc(var(--margin) * 2);
  }
}
