html {
  font-size: 62.5%; /* reset root em unit to 10px */
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

p,
ol,
ul {
  max-width: var(--max-line-length);
  margin: 1em 0;
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 1.9em;
  line-height: 1.58;
}

.quote {
  @apply --reset;
  width: 94%;
  max-width: 53.5em;
}

.quote p {
  color: var(--pull-text-color);
  font-family: var(--display-font);
  font-weight: 800;
  font-size: 3em;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-rendering: optimizeLegibility;
}

@media (--max-line-length) {

  .quote {
    margin-left: -4em;
  }
}
