.header {
  height: var(--header-size);
  overflow: hidden;

  &__nav {
    position: absolute;
    top: var(--min-margin);
    right: var(--min-margin);
    z-index: var(--header-nav-zindex);
  }

  &__nav .icon span {
    @apply --hide-text;
  }

  &__logo,
  &__nav_link {
    cursor: pointer;
    float: right;
    margin-left: var(--gutter);
  }

  &__nav_link svg {
    width: 2.2em;
    height: 1.7em;
    opacity: .5;
  }

  &__logo {
    @apply --reset;
  }

  &__logo svg {
    width: 13em;
    height: 1.7em;
    color: var(--white-color);
  }

  &__background {
    position: relative;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: var(--header-size);
    z-index: var(--background-zindex);
  }
}

@media (--max-line-length) {

  .header__nav {
    top: var(--margin);
    right: var(--margin);
  }
}
