.post {
  &__byline a {
    font-family: var(--display-font);
    font-weight: 800;
    font-size: 1.4em;
    text-transform: none;
    text-rendering: optimizeLegibility;
  }

  &__lead_dateline {
    @apply --allcaps-style;
    padding-right: .5em;
    color: var(--80-gray-color);
    font-weight: 300;
    font-size: .7em;
    vertical-align: baseline;
  }

  &__tag {
    display: block;
    color: var(--70-gray-color);
    line-height: 1.54;
  }

  &__tag:before {
    content: '#';
    color: var(--80-gray-color);
  }
}

.post__header {
  height: var(--header-size);
  box-sizing: border-box;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--header-zindex);

  &:after {
    content: '';
    width: 100vw;
    height: var(--title-crop-height);
    background-color: var(--background-color);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &_content {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--header-zindex);
  }

  &_title {
    width: 100vw;
    fill: #fff;
    font-size: var(--max-header-title-size);
  }

  &_title text {
    font-family: var(--display-font);
  }

  &_title + .button {
    position: absolute;
    top: calc(var(--button-size) * -1);
    left: calc(var(--button-size) * -1);
  }
}

.post__meta {
  & nav,
  & p,
  & time {
    @apply --allcaps-style;
    color: var(--sidebar-text-color);
    font-size: 1.1em;
  }

  & > * {
    display: block;
    width: 18.2em;
    margin-top: 2.5em;
    border-top: 1px solid var(--rule-color);
    padding-top: .7em;
  }
}

@media (--max-line-length) {

  .post__header_content {
    lost-column: 5/8;
    lost-offset: -1/8;
    lost-center: 66em;
    margin-left: calc(99.9% * (-1/8 * -1) - (0px - 0px * (-1/8 * -1)) - var(--title-padding)) !important;
    /* generated output from above, need access via plugin - https://git.io/vPtcO */
  }

  .post__header_content_offset {
    margin-left: calc(var(--title-padding) * -1);
  }

  .post__header_title {
    width: auto;
  }

  .post__meta,
  .post__body {
    & > *:first-child { margin-top: 0 }
  }

  .post__meta {
    lost-column: 2/8;
    lost-offset: -1/8;
  }

  .post__body {
    lost-column: 5/8;
    max-width: 60.6em;
    margin-top: -0.2em;
  }
}
