.post {
	&__byline a {
		font-family: var(--display-font);
	  font-weight: 800;
		font-size: 1.4em;
		text-transform: none;
		text-rendering: optimizeLegibility;
	}

	&__lead_dateline {
		@apply --allcaps-style;
		padding-right: .5em;
		color: var(--80-gray-color);
		font-weight: 300;
		font-size: .7em;
		vertical-align: baseline;
	}

	&__tag {
		display: block;
		color: var(--70-gray-color);
		line-height: 1.54;
	}

	&__tag:before {
		content: '#';
		color: var(--80-gray-color);
	}
}

.post__header {
  height: var(--header-size);
  box-sizing: border-box;

	position: absolute;
	top: 0;
  right: 0;
	left: 0;
  z-index: var(--header-zindex);

  &_title,
  &_title:after,
  &_title:before {
    background-color: var(--knockout-color);
  }

  /* https://css-tricks.com/multi-line-padded-text/#article-header-id-0 */

  &_content {
    position: absolute;
    right: 0;
    bottom: 1.3em;
    left: 0;
    mix-blend-mode: screen;
  }

  &_content--modify {
    bottom: 0;
    mix-blend-mode: normal;
  }

  &_content:before {
    content: '';
    position: relative;
    top: 0;
    left: calc(var(--headline-padding) * -1);
    bottom: 0;
    width: var(--headline-padding);
    background-color: var(--knockout-color);
  }

  &_title {
    @apply --reset;
    @apply --headline-style;
    display: inline;
    position: relative;
    width: 67%;
    border-top: var(--headline-padding) solid var(--knockout-color);
    padding-right: .25em;
    white-space: pre-wrap;
  }

  &_title:after,
  &_title:before {
    content: '';
    position: absolute;
    top: var(--headline-crop-line);
    bottom: calc(var(--headline-padding) * -1);
    width: 100vw;
  }

  &_title:before { right: 0 }

  &_title span {
    position: relative;
    left: 0;
  }

  &_title span:before {
    content: '';
    position: absolute;
    mix-blend-mode: overlay;
    top: calc(var(--headline-padding) * -1);
    left: calc(var(--headline-padding) * -2);
    bottom: 0;
    width: 2em;
    background: var(--knockout-color);
  }
}

.post__meta {
	& nav,
	& p,
	& time {
		@apply --allcaps-style;
		color: var(--sidebar-text-color);
		font-size: 1.1em;
	}

	& > * {
		display: block;
		width: 18.2em;
		margin-top: 2.5em;
		border-top: 1px solid var(--rule-color);
		padding-top: .7em;
	}
}

@media (--max-line-length) {

  .post__header {
    right: var(--margin);
    left: var(--margin);
  }

  .post__header_content {
    lost-column: 5/8;
    lost-offset: -1/8;
  }

  .post__header_content .form {
    margin-left: calc(var(--form-padding) * -1);
  }

  .post__meta,
  .post__body {
    & > *:first-child { margin-top: 0 }
  }

  .post__meta {
    lost-column: 2/8;
    lost-offset: -1/8;
  }

  .post__body {
    lost-column: 5/8;
    max-width: 60.6em;
    margin-top: -0.2em;
  }
}
